$colorBorders: hsl(198, 10%, 46%);
$buttonColors:hsl(198, 0%, 27%);
h1{
  margin-top: 15vh;
}
form{
  margin-top: 2vh;
  margin-right: 5vh;
}

clr-input-container input{
  width:22.375rem;
  height:3.5rem;
  border: $colorBorders solid 0.1rem;
  margin-left: 0!important;
  border-radius: 0.2rem ;
}

button{
  height: 1.2rem;
  width: 5rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  margin-left: 2.99rem;
  line-height: 1rem;
  border-color: $buttonColors !important;
  background-color: $buttonColors !important;

}

