<header class="header header-7,clr-row clr-justify-content-end">
  <div class="header-nav">
    <a href="javascript://" class="nav-link nav-text" routerLink = "/homepage" routerLinkActive = "active">Analyse</a>
    <a href="javascript://" class="nav-link nav-text" routerLink = "/gallery" routerLinkActive="active">Gallery</a>
  </div>
</header>
<h1 class="clr-row clr-justify-content-center">Point an image to tag and add in gallery</h1>
<form clrForm [formGroup]="imageForm" class="clr-row clr-justify-content-center">
  <clr-input-container>
    <input clrInput placeholder="Add an image URL to analyse" type="text" formControlName="imageUrl" />
  </clr-input-container>
  <button class="btn btn-primary clr-row clr-justify-content-center " type="submit" (click)="submit()">Analyse</button>
</form>

