$colorSearch: #F5F5F5;
.search{
  margin-right: 40vh!important;
}
#search_input{
  background-color: hsl(198, 0%, 40%);
  color: $colorSearch;
}
button{
  border-color: $colorSearch;
}
cds-icon{
  color: $colorSearch;
}
input{
  width: 60vh;
}
input::placeholder{
  color:$colorSearch;
}
label::before{
  margin: 1rem !important;
}
