.card-img{
  margin-top: 10vh;
  margin-left: 10vh;
  border: hsl(198, 0%, 40%) outset 0.5vh;
}
img{
  width: 100vh;
  height: 70vh;
}
#imageTags{
  margin-top: 20vh;
  margin-left: 10vh;
}
.label{
  width: 20vh;
  height: 3vh;
}
