.card-img{
  margin-top: 10vh;
  margin-left: 10vh;
  border: hsl(198, 0%, 40%) outset 0.5vh;
}
#imageTags{
  margin-top: 20vh;
  margin-left: 10vh;

}
.label{
  width: 24vh;
  height: 3vh;
  margin: 2vh;
  font-size: 2vh;
}
.label p{
  margin-top: 7vh !important;
  font-weight: bold;
  display: none;

}
.label:hover p{
  display: block;
}
#date{
 margin-left: 11vh;
}
#date p{
  color: black ;
  font-size: 2.5vh;
}

