<header class="header header-7,clr-row clr-justify-content-end">
  <div class="header-nav">
    <a href="javascript://" class="nav-link nav-text" routerLink = "/homepage" routerLinkActive = "active">Analyse</a>
    <a href="javascript://" class="nav-link nav-text" routerLink = "/gallery" routerLinkActive="active">Gallery</a>
  </div>
</header>
<div *ngIf="image" class="clr-row">
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card-img">
      <img src="{{image['imageURL']}}" alt="..." />
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
    <div id="imageTags">
      <a *ngFor="let tag of image['tags']" class="label label-purple clickable">
      {{tag.tagName}}
        <p>{{tag['tagAccuracy']}}</p>
    </a>

    </div>
    <div id="date">
      <h4>Analysed on:</h4>
      <p>{{image['date']}}</p>
    </div>
  </div>
</div>


